@import "../index.scss";

.hero-img {
    position: relative;
    width: 381px;
    min-height: 381px;

    @include screen-size-down($sm) {
        min-height: 320px;
        min-width: 320px;
    }

    &-container {
        position: relative;
        width: 381px;
        min-height: 381px;

        // display: flex;
        // justify-content: center;
        // align-items: center;
        &-position {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    img {
        width: 350px;
        height: 350px;
        position: absolute;
        z-index: 2;
        @include screen-size-down($sm) {
            width: 200px;
            height: 200px;
        }
    }
    svg {
        width: 350px;
        height: 350px;
        position: absolute;
        top: 7.5%;
        left: 7.5%;
        z-index: -1;
        @include screen-size-down($sm) {
            width: 200px;
            height: 200px;
            top: 4%;
            left: 4%;
        }
    }
}
