@import "../index.scss";

.hero-img {
    display: inline-block;
    width: 400px;
    height: 400px;
    position: relative;
    text-align: center;

    @include screen-size-down($md) {
        width: 320px;
        height: 167.76px;
    }

    img {
        width: 350px;
        height: 350px;
        // border-color: black 5px;
        border-radius: 0.35rem;

        @include screen-size-down($md) {
            width: 180px;
            height: 180px;
        }
    }

    &-border {
        position: absolute;
        top: 6%;
        left: 12%;
        display: inline-block;
        // display: none;
        width: 350px;
        height: 350px;
        z-index: -100;

        @include screen-size-down($md) {
            width: 180px;
            height: 180px;
            top: 9%;
            left: 27%;
        }
    }
}
