@import "../index.scss";

.hero-img {
    display: inline-block;
    width: 400px;
    height: 400px;
    position: relative;
    text-align: center;

    @include screen-size-down($md) {
        width: 355.2px;
        height: 186.4px;
    }

    img {
        width: 350px;
        height: 350px;

        @include screen-size-down($md) {
            width: 180px;
            height: 180px;
        }
    }

    &-border {
        position: absolute;
        top: 6%;
        left: 12%;
        display: inline-block;
        width: 350px;
        height: 350px;
        z-index: -100;

        @include screen-size-down($md) {
            width: 180px;
            height: 180px;
            top: 9%;
            left: 30%;
        }
    }
}
