@import "../index.scss";

.homepage {
    min-height: 100vh;
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;

    @include screen-size-down($md) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 35px;
        padding-top: 35px;
    }
    &-text {
        margin-left: 56px;

        margin-top: 64px;
        font-weight: 500;
        font-size: 32px;
        line-height: 1.5;
        @include screen-size-down($sm) {
            margin: 0;
            margin-top: 52px;
            font-size: 24px;
            text-align: center;
        }

        &-theme-color {
            color: #4f46e5;
        }
        &-name {
            font-size: 48px;
            line-height: 1.2;
            @include screen-size-down($sm) {
                font-size: 32px;
                text-align: center;
            }
        }
    }
}
.resume-button a {
    border: 3px solid #4f46ef;
    border-radius: 5px;
    font-size: 20px;
    display: inline-block;
    color: #4f46ef;
    margin-top: 16px;
    margin-bottom: 16px;

    & span {
        font-weight: 500;

        vertical-align: middle;
    }
    &:hover {
        background-color: #4f46ef;
        color: white;
    }
    @include screen-size-down($sm) {
        font-size: 18px;
        text-align: center;
    }
}
