@import "../index.scss";

//logo animation css below

#logo {
    // position: absolute;
    // // top: 50%;
    // // left: 50%;
    // transform: translate(-50%, -50%);
    animation: fill 2s ease forwards 2s;
}

#logo path:nth-child(1) {
    stroke-dasharray: 289.78533935546875;
    stroke-dashoffset: 289.78533935546875;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) {
    stroke-dasharray: 260.6763610839844;
    stroke-dashoffset: 260.6763610839844;
    animation: line-anim 2s ease forwards;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #4f46ef;
    }
}

.rs-animation {
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    white-space: nowrap;
    margin-right: 20px;

    text-decoration: none;
    background-color: transparent;

    vertical-align: middle;
}

.rs-animation svg {
    height: 35px;
    width: 35px;
}

.navbar {
    display: block;
    width: 100%;
    // height: 70px;
    padding: 0px 24px;
    z-index: 10;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 8px 8px -10px rgba(0, 0, 0, 0.15);
    &-nav {
        display: flex;
        justify-content: space-between;
    }
}

.nav-items {
    list-style: none;
    display: flex;
    align-items: center;

    a {
        padding: 8px;
        vertical-align: middle;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
        color: $color-text-grey-2;
    }

    @include screen-size-down($md) {
        position: fixed;
        right: -100%;
        top: 57px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        min-height: 100%;

        &.active {
            right: 0;
        }
    }
}

.nav-items > .active {
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.hamburger {
    display: none;
    @include screen-size-down($md) {
        display: block;
        cursor: pointer;

        margin: auto 0;
    }
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-link {
    @include screen-size-down($md) {
        margin: 2rem 0;
    }
}
