@import "../index.scss";
.project-container {
    &-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &-col {
        margin-top: 50px; //was 40px

        @include screen-size-up($md) {
            margin-right: 30px; //was 40px
            margin-left: 30px; //added
        }
    }
}
