@import "../index.scss";
.project-container {
    padding-top: 70px;
    padding-bottom: 70px;
    &-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    &-col {
        margin-top: 50px; //was 40px

        @include screen-size-down($md) {
            justify-content: center;
        }
    }
}
