@import "../index.scss";
.heading {
    text-align: center;
    font-size: 40px;
    color: #1f2937;
    position: relative;
    @include screen-size-down($sm) {
        font-size: 28px; //was 30pxx
    }

    &::after {
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background-color: #4f46e5;
        border-radius: 0.95rem;
        margin: 5px 0px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        @include screen-size-down($sm) {
            width: 70px; //was 75px
        }
    }
}
